@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';

.Header {
  background-color: $primary-color;
  padding-left: $spacing-1;
  height: 64px;
  list-style: none;

  @extend %flex;
}

.Header__item {
  align-items: center;
  padding: $spacing-2;

  @extend %flex;
}

.Header__item a {
  color: $white;
  text-decoration: none;
}

.Header__item a.active {
  font-weight: $font-weight-bold;
}

.Header__appName {
  font-family: $font-secondary;
  font-size: $font-xxl;

  @extend %flex;
}

.Header__userPhotoWrapper {
  border-radius: 50%;
  height: 32px;
  overflow: hidden;
  width: 32px;
}

.Header__userPhoto {
  height: 100%;
  width: 100%;
}

.Header__user {
  color: $white;
}
