@import './variables.scss';

/* font style defaults */

body {
  color: $text-color;
  font-family: $font-primary;
  font-size: $font-base;
  line-height: 1.6;
}

h1 {
  color: $primary-color;
  font-family: $font-secondary;
  font-size: $font-xl;
  line-height: 32px;
}

h2 {
  font-family: $font-secondary;
  font-size: $font-l;
}

p {
  font-size: $font-m;
}

/* colors */

.primary-color {
  color: $primary-color;
}

.grey-md {
  color: $grey-med;
}

.grey-light {
  color: $grey-light;
}

/* general layout */
.ml-auto {
  margin-left: auto;
}

/* spacing */

.ml05 {
  margin-left: $spacing-05;
}

.mr1 {
  margin-right: $spacing-1;
}

.mt1 {
  margin-top: $spacing-1;
}

.mt2 {
  margin-top: $spacing-2;
}

.mt3 {
  margin-top: $spacing-3;
}

.mt4 {
  margin-top: $spacing-4;
}
