@import './variables.scss';

/* PLACEHOLDERS */

/* PLACEHOLDERS - display */

%flex {
  display: flex;
}

%flex-g-1 {
  flex-grow: 1;
}

/* PLACEHOLDERS - colors */

%primary-color {
  color: $primary-color;
}

/* mixins */
