@import './variables.scss';

/* PLACEHOLDERS */

/* placeholders - display */

%flex {
  display: flex;
}

%flex-g-1 {
  flex-grow: 1;
}

/* placeholders - colors */

%primary-color {
  color: $primary-color;
}

%grey-med {
  color: $grey-med;
}

/* placeholders - other */

%shadow {
  box-shadow: 1px;
}

/* MIXINS */
