@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';

.PodcastListItem {
  background-color: $white;
  border-radius: 4px;
  height: 150px;

  @extend %flex;
}

.PodcastListItem__thumbnail {
}

.PodcastListItem__thumbnail img {
  height: 154px;
  width: 154px;
  object-fit: cover;
}

.PodcastListItem__content {
  @extend %flex;

  flex-direction: column;
  padding: $spacing-2 $spacing-3;
}

.PodcastListItem__firstLine {
  @extend %flex;
}

.PodcastListItem__title {
  @extend %flex-g-1;
}
