@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';

.PodcastListItem {
  background-color: $white;
  border-radius: 4px;

  @extend %flex;
}

.PodcastListItem__thumbnail {
  height: 162px;
}

.PodcastListItem__thumbnail img {
  height: 100%;
  width: 162px;
  object-fit: cover;
}

.PodcastListItem__content {
  @extend %flex;

  flex-direction: column;
  padding: $spacing-2 $spacing-3;
}

.PodcastListItem__firstLine {
  @extend %flex;
  color: $primary-color;
  font-family: $font-secondary;
  font-size: $font-xl;
  line-height: 32px;
}

.PodcastListItem__title {
  @extend %flex-g-1;
}
